.bgColorOne {
  background-color: #25293e;
}

.bgColorTwo {
  background-color: #f8f1f1;
}

.fgColorOne {
  color: #25293e;
}

.fontOne {
  font-family: "Playfair Display", serif;
}
.fontTwo {
  font-family: "Nanum Gothic", sans-serif;
}

/* ------------------------------------Intro section------------------------------------ */

#title {
  letter-spacing: 15px;
  font-weight: bold;
  color: white;
}
.subTitle {
  letter-spacing: 6.5px;
}

#intro {
  background-color: #25293e;
  color: white;
}
.myButton {
  padding: 10px 15px;
  background-color: white;
  border-radius: 7%;
  letter-spacing: 5px;
  font-weight: bold;
  margin-top: 7px;
  text-emphasis: none;
}

.spinnerOne {
  position: absolute;
  left: 15%;
  top: 25%;
  animation: spin 15s linear infinite;
}

.spinnerOne img {
  height: 2rem;
  width: 2rem;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  0% {
    transform: rotate(360deg);
  }
}

.square-effect {
  position: absolute;
  right: 10%;
  bottom: 10%;
  animation: spin 25s infinite ease;
  z-index: 0;
}

.square-effect-1 {
  height: 50px;
  width: 50px;
  border: 5px solid palevioletred;
}

#circle {
  border-radius: 50%;
  background-color: red;
}

.triangle-effect {
  position: absolute;
  right: 32%;
  top: 20%;
  animation: spin 25s infinite ease;
  z-index: 0;
}

.triangle-effect-2 {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #f7cd2e;
}
.dot-effect {
  position: absolute;
  left: 11%;
  bottom: 7%;
  width: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  animation: topbounce 3s ease-in-out infinite;
  z-index: 0;
}
.dot-effect div {
  height: 3px;
  width: 3px;
  background-color: #ff3c07;
  margin: 0 3px 8px;
}

@keyframes topbounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(20px);
  }
}

/* ------------------------------------Intro section Ends------------------------------------ */

/* ------------------------------------Bio section------------------------------------ */
#profilePic {
  height: 150px;
  width: 150px;
}

#description {
  line-height: 1cm;
}

/* ------------------------------------Bio section Ends------------------------------------ */
