.bgColorOne {
  background-color: #25293e;
}
#title {
  letter-spacing: 15px;
  font-weight: bold;
  color: white;
}
.subTitle {
  letter-spacing: 6.5px;
}

#intro {
  background-color: #25293e;
  color: white;
}
.myButton {
  padding: 10px 15px;
  background-color: white;
  border-radius: 10%;
  letter-spacing: 5px;
  font-weight: bold;
  margin-top: 7px;
}

.spinnerOne {
  position: relative;
  right: 10%;
  top: 20%;
  animation: spin 15s linear infinite;
}

.spinnerOne img {
  height: 2rem;
  width: 2rem;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  0% {
    transform: rotate(360deg);
  }
}

.square-effect {
  position: absolute;
  right: 10%;
  bottom: 10%;
  animation: spin 25s infinite ease;
  z-index: 0;
}

.square-effect-1 {
  height: 50px;
  width: 50px;
  border: 5px solid palevioletred;
}

#circle {
  border-radius: 50%;
  background-color: red;
}

.triangle-effect {
  position: absolute;
  left: 15%;
  top: 20%;
  animation: spin 25s infinite ease;
  z-index: 0;
}

.triangle-effect-2 {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #f7cd2e;
}
